.header {
    background-color: #2e43557e;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    .menue-icon {
        cursor: pointer;
        font-size: 2rem;
    }
    .logo {
        cursor: pointer;
        font-size: 2rem;
    }
    nav {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: #0b1217dc;
        height: 100vh;
        width: 20rem;
        z-index: 10;
        text-align: center;
        a {
            padding: 2rem;
            border-bottom: 1px solid rgba(68, 65, 65, 0.411);
        }
        button {
            cursor: pointer;
            align-self: flex-end;
            border: none;
            background-color: #0b121700;
            color: white;
            padding: 1rem;
            font-size: 2rem;
        }
        transform: translateX(100%);
        transition: 1s;
    }
    .open {
        transform: translateX(0);
    }
}

@media screen and (max-width:600px) {
    .header {
        padding: 1rem;
    }
}