<section class="home-page">
    <div class="user-info">
        <h2>Hi, {{user.name}}</h2>
        <div class="user-currncy-info">
            <div>
                <p class="title">CURRENT BALANCE</p>
                <p>BIT: <span class="green">₿ {{user.coins}}</span></p>
                <p>USD: <span class="dark-blue"> $ {{usdBalance}}</span></p>
            </div>
            <div>
                <p class="title btc-usd-title">CURRENT BTC USD <span class="live">live</span></p>
                <p class="btc-rate">${{rate}}</p>
            </div>
        </div>
        <app-move-list></app-move-list>
    </div>
</section>