.move-list {
    background-color: #26364371;
    border-bottom: 1px solid rgba(68, 65, 65, 0.411);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h3 {
    padding: 1rem 0.625rem;
}