<section class="statistics">
    <h2>Bitcoin Price</h2>
    <google-chart *ngIf="priceChart.data.length" [height]="300" [width]="1100" [options]="myOptions" [title]="priceChart.title" [type]="priceChart.type" [data]="priceChart.data" [columns]="priceChart.columns">
    </google-chart>
    <h2>Trade Volume</h2>
    <google-chart *ngIf="volumeChart.data.length" [height]="300" [width]="1100" [title]="volumeChart.title" [type]="volumeChart.type" [data]="volumeChart.data" [columns]="volumeChart.columns"> -->
    </google-chart>
</section>