<form class="contact-edit" *ngIf="contact" (submit)="onSaveContact()">
    <div class="contact-edit-container">
        <a class="edit-back" [routerLink]="['/contact',contact._id]" *ngIf="contact._id; else backToContacts">
            Back
        </a>
        <img src="./assets/imgs/black-white-avatar.png" alt="">
        <ng-template #backToContacts>
            <a class="edit-back" routerLink="/contact">
                Back
            </a>
        </ng-template>
        <input placeholder="Name" type="text" id="name" [(ngModel)]="contact.name" name="name">
        <input placeholder="Email" type="text" id="email" [(ngModel)]="contact.email" name="email">
        <input placeholder="Phone" type="text" id="phone" [(ngModel)]="contact.phone" name="phone">
        <button>save</button>
    </div>
</form>