/* You can add global styles to this file, and also import other style files */

@import './styles/basics/base.scss';
.green {
    color: #87be3e;
}

.dark-blue {
    color: #5f6d77;
}

.light-blue {
    color: #469be0;
}